/.idea
*.iml
/target
/build
/.gradle
zones.h
zones.tab
/bin/
.classpath
.project
.settings/
out/
**/zoneinfo/**/index.html
**/zoneinfo-global/**/index.html
**/.DS_Store
.claude
.github/prompts
.github/skills

