body {
	background-color: white;
	font-family: tahoma, verdana, sans-serif;
	font-size: 10pt;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 36pt;
}

img {
	border: 0;
}

table, h1 {
	margin: 40px;
	/* float: left; */
}

thead {
	font-size: 18pt;
	font-weight: bold;
}

th {
	text-align: left;
	vertical-align: top;
}

.title {
	font-size: 36pt;
}