name: Create Release

on:
  push:
    tags:
      - "ical4j-.*(?<!pre)$"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate changelog
        run: make changelog
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: CHANGELOG.md