name: Publish snapshots

on:
  push:
    branches:
      - 'develop'
      - 'feature/jsr-310-localdate'

permissions: read-all

jobs:
  gradle:
    name: Test with Java ${{ matrix.jdk }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jdk: [ '8', '11', '17', '18' ]

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.jdk }}
    - uses: eskatos/gradle-command-action@v1
      with:
        arguments: check

  publish:
    name: Publish Artifact
    needs: gradle
    if: ${{ needs.gradle.result == 'success' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - uses: eskatos/gradle-command-action@v1
      with:
        arguments: build -x test publish
      env:
        GPR_USERNAME: benfortuna
        GPR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
